@font-face {
  font-family: "Assistant";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Assistant"), local("Assistant-Regular"), url(assets/Assistant-Regular.ttf);
}

@font-face {
  font-family: "Alef";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Alef"), local("Alef-regular"), url(assets/Alef-regular.ttf);
}

html {
  font-size: 62.5%; /* 62.5% of 16px = 10px */
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  direction: rtl;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: inherit;
}
