html {
  font-size: 62.5%; /* 62.5% of 16px = 10px */
}

html,
body,
#root {
  height: 100%;
}

#root {
  overflow: hidden;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: inherit;
  outline: none;
}
